**/__pycache__/**
dist/**
build**
**egg-info**

.vscode
.idea

docs/build
docs/source/reference/

docs/thesis/thesis_lit.rst
docs/thesis/reference/

docs/common/reference
**/DEP/**

daf_web_data
test.py